<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Guest Home</title>
        <link rel="stylesheet" href="/styles/style.css" />
    </head>
    <body>
        <header>
            <h1>Welcome Guest</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/app/client/menu">View Menu</a></li>
                <li><a href="/app/login">Login as Client or Admin</a></li>
            </ul>
        </nav>
        <main>
            <p>
                You can only view the menu as a guest. To access more
                functionality, please log in as a client or admin.
            </p>
        </main>
    </body>
</html>
