<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Create Client</title>
    </head>
    <body>
        <h1>Create Client</h1>
        <form
            th:action="@{/clients/create}"
            method="post"
            th:object="${client}">
            <label>
                Name:
                <input type="text" th:field="*{name}" />
            </label>
            <br />
            <label>
                Balance:
                <input type="number" step="0.01" th:field="*{balance}" />
            </label>
            <br />
            <button type="submit">Save</button>
        </form>
    </body>
</html>
