<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Clients</title>
    </head>
    <body>
        <h1>Clients List</h1>
        <a th:href="@{/clients/create}">Create new Client</a>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Actions</th>
            </tr>
            <tr th:each="client : ${clients}">
                <td th:text="${client.id}"></td>
                <td th:text="${client.name}"></td>
                <td th:text="${client.balance}"></td>
                <td>
                    <a th:href="@{'/clients/edit/' + ${client.id}}">Edit</a>
                    |
                    <a th:href="@{'/clients/delete/' + ${client.id}}">Delete</a>
                </td>
            </tr>
        </table>
    </body>
</html>
