<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head> 
    <title>Thymeleaf Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
	<!--<p>  Welcome to Thymeleaf World!</p>-->
    <p th:utext="#{welcome.msg}">Welcome Offline</p> 
    <p>Date : <span th:text="${today.time}">Sat Oct 28 2023</span></p>
    

    
<p>Please select an option</p>
    <ol>     
      <li><a href="/StudentsAll" th:href="@{/StudentsAll}">Student List</a></li>
       
     
      <li><a href="/Courses" th:href="@{/Courses}">Order List</a></li>
      <li><a href="/subscribe" th:href="@{/subscribe}">See User Profile</a></li>
      <li><a href="/userprofile" th:href="@{/userprofile}">See User Profile</a></li>
    </ol>

      
    <
        
  </body>
</html>