<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Item to Order</title>
    </head>
    <body>
        <h1>
            Add Item to Order (ID:
            <span th:text="${order.id}"></span>
            )
        </h1>
        <form th:action="@{'/orders/addItem/' + ${order.id}}" method="post">
            <label>
                Menu Item:
                <select name="menuItemId">
                    <option
                        th:each="menuItem : ${menuItems}"
                        th:value="${menuItem.id}"
                        th:text="${menuItem.name}"></option>
                </select>
            </label>
            <br />
            <label>
                Quantity:
                <input type="number" name="quantity" value="1" />
            </label>
            <br />
            <button type="submit">Add</button>
        </form>
    </body>
</html>
