<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Create Order</title>
    </head>
    <body>
        <h1>Create Order</h1>
        <form th:action="@{/orders/create}" method="post" th:object="${order}">
            <label>
                Client:
                <select name="clientId">
                    <option
                        th:each="client : ${clients}"
                        th:value="${client.id}"
                        th:text="${client.name}"></option>
                </select>
            </label>
            <br />
            <button type="submit">Save</button>
        </form>
    </body>
</html>
