<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf Demo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form>
            <select name="lang" th:field="${language}">
                <option th:value="ru">Русский</option>
                <option th:value="en">
                    English
                    <input type="submit" value="Change language" />
                </option>
            </select>
        </form>

        <p th:utext="#{welcome.msg}">Welcome Offline</p>

        <p>Please select an option</p>
        <ol>
            <li>
                <a href="/students/list" th:href="@{/students/list}">
                    Student List
                </a>
            </li>

            <li>
                <a href="course/list.html" th:href="@{/course/list}">
                    Order List
                </a>
            </li>
        </ol>
    </body>
</html>
